<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spam Mail Detector by Sujal Mondal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <h1>🚨 Spam Mail Detection Web App by Sujal Mondal 🧑‍💻</h1>
    <p class="subtitle">Check whether an email is Spam or Ham</p>

    <form method="post">
        <textarea name="email" placeholder="Paste your email content here..." required></textarea>

        <div class="btn-group">
            <button type="submit" class="check-btn">Check Mail</button>
            <button type="button" class="reset-btn" onclick="resetForm()">Refresh</button>
        </div>
    </form>

    {% if prediction %}
        <div class="result">{{ prediction }}</div>
    {% endif %}
</div>

<script>
    function resetForm() {
        window.location.href = "/";
    }
</script>

</body>
</html>
